body {
  font-family: Arial, sans-serif;
  background-color: #005bb5;
  margin: 0;
  padding: 20px;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: #ffd700;
  text-align: center;
}

.courses {
  display: flex;
  justify-content: space-between;
}

.course-item {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
}

.card {
  background-color: #ffd700;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.course-item-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  color: #005bb5;
}

.course-item-value {
  font-size: 18px;
  color: #005bb5;
}

.dynamic-value {
  font-weight: bold;
}